<mat-card class="material-table">
  <mat-card-title class="material-table__header">
    <h5 class="material-table__title">Tool Break Down Forecast</h5>
    <app-settings-menu></app-settings-menu>
  </mat-card-title>

  <mat-card-content class="material-table__content" style="height:'100%' ">
 

    <ejs-schedule  cssClass='adaptive-rows' width='100%' height='100%' [eventSettings]="{dataSource: dataSource}"  (eventRendered)="onEventRendered($event)" [currentView]="currentView" [selectedDate]="selectedDate">
    </ejs-schedule>
    
    
    
  </mat-card-content>
</mat-card>

