<app-layout>
  <mat-toolbar class="page-header" role="heading">
    <h1>Dashboard</h1>
  
  </mat-toolbar>

  <div class="charts-wrapper">
    <div class="chart">
   

  <app-project-stat-chart [projectsStatsData]="projectsStatsData$ | async"></app-project-stat-chart>



  <mat-card class="project-stat__item">
    <mat-card-title class="project-stat__title">
  

     
    </mat-card-title>
    <mat-card-content class="project-stat-content">
     
      

      <ejs-chart #chart style='display:block' align='center' [chartArea]='chartArea' [title]='title'
      [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis' [tooltip]='tooltip' (tooltipRender)='onTooltipRender($event)' (load)='load($event)'
      [width]='width'>
      <e-series-collection>
          <e-series [dataSource]='data' columnFacet= 'Cylinder' type='Column' xName='x' yName='y' width=2 columnSpacing=0.1 tooltipMappingName='tooltipMappingName' pointColorMapping='color'> </e-series>
      </e-series-collection>
  </ejs-chart>
    

    
    </mat-card-content>
  </mat-card>
</div>
</div>


</app-layout>
