<app-layout>
    <mat-toolbar class="page-header" role="heading">
      <h1>Dashboard</h1>
     
    </mat-toolbar>

    <mat-card class="material-table">
      <mat-card-title class="material-table__header">
        <h5 class="material-table__title">Demo</h5>
       
      </mat-card-title>
    
      <mat-card-content class="material-table__content">
       <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/VIDEO_ID" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

       </div>
<!-- In your component's template, e.g., app.component.html -->

      </mat-card-content>
    </mat-card>
   


</app-layout>  