<div class="auth-page">
  <div class="auth-page__content-block">
    <div class="auth-page__content-wrapper">
      <mat-tab-group class="auth-page__group">
        <mat-tab label="Login">
          <h4 class="auth-page__group-title">Good Morning, User</h4>
         

          <div class="auth-page__border-wrapper">
            <div class="auth-page__border-line"></div>
            <p class="auth-page__border-title">or</p>
            <div class="auth-page__border-line"></div>
          </div>

          <app-login-form (sendLoginForm)="sendLoginForm()"></app-login-form>

        </mat-tab>
        <mat-tab label="New User">
          <h4 class="auth-page__group-title">Welcome!</h4>
          <p class="auth-page__group-sub-title">Create you account</p>

          <app-sign-form (sendSignForm)="sendSignForm()"></app-sign-form>

          <div class="auth-page__border-wrapper">
            <div class="auth-page__border-line"></div>
            <p class="auth-page__border-title">or</p>
            <div class="auth-page__border-line"></div>
          </div>

          
        </mat-tab>
      </mat-tab-group>
       <img src="../../../../../assets/img/pulseplan.png">
      <p class="auth-page__footer-title">© {{todayDate | year}} <a href="#">Pulse Plan AI</a>, LLC. All rights reserved.</p>
    </div>
  </div>
  <div class="auth-page__logo">
    <div class="auth-page__logo-wrapper">
      <img class="auth-page__logo-img" src="./assets/auth/jobshop.png" alt="logo" width="70%">
      <h6 class="auth-page__logo-title">Pulse Plan </h6>
    </div>
  </div>
</div>
