<mat-list>
  <mat-list-item routerLink="{{routes.DASHBOARD}}" routerLinkActive="active">
    <mat-icon>home</mat-icon> Dashboard
  </mat-list-item>

  <mat-list-item routerLink="{{routes.PREPROCESS}}" routerLinkActive="active">
    <mat-icon>extension</mat-icon> Preprocess
  </mat-list-item>

  <mat-list-item routerLink="{{routes.UPLOAD}}" routerLinkActive="active">
    <mat-icon>upload</mat-icon> Upload
  </mat-list-item>

  <mat-list-item routerLink="{{routes.SCHEDULE}}" routerLinkActive="active">
    <mat-icon>schedule</mat-icon> Schedule
  </mat-list-item>



  <mat-list-item routerLink="{{routes.ROBOT}}" routerLinkActive="active">
    <mat-icon>shuffle</mat-icon> Robotic Cell
  </mat-list-item>

  <mat-list-item routerLink="{{routes.TABLES}}" routerLinkActive="active">
    <mat-icon>brightness_high</mat-icon> Breakdown
  </mat-list-item>

  <img src="../../..///assets/img/pulseplan.png" width="200px">
  