<app-layout>
    <mat-toolbar class="page-header" role="heading">
      <h1>Dashboard</h1>
     
    </mat-toolbar>

    <mat-card class="material-table">
      <mat-card-title class="material-table__header">
        <h5 class="material-table__title">Process Your Data</h5>
       
      </mat-card-title>
    
      <mat-card-content class="material-table__content">
        <ejs-spreadsheet allowOpen='true' saveUrl='https://services.syncfusion.com/angular/production/api/spreadsheet/save' allowSave='true' height="600px" openUrl='https://services.syncfusion.com/angular/production/api/spreadsheet/open'> </ejs-spreadsheet>




      </mat-card-content>
    </mat-card>
   



</app-layout>  